/* reset main */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Common */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

ul,
ul li {
  padding: 0;
  list-style: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}

address {
  font-style: normal;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  margin: 0;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 165px;
  overflow-x: hidden;
}
@media screen and (max-width: 1025px) {
  .container {
    padding: 0 100px;
  }
}
@media screen and (max-width: 991px) {
  .container {
    padding: 0 70px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 50px;
  }
}
@media screen and (max-width: 440px) {
  .container {
    padding: 0 20px;
  }
}

/* Custom */
.h2 {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 500;
}

.m--link {
  color: #ed4c5c;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.m--link:hover {
  color: #000;
}

.m--text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px;
  text-align: justify;
  color: #000;
}

.no--scroll {
  overflow-y: hidden;
}

.for--mobile {
  display: none;
}

.btn--reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.header {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(213, 32, 71, 0.8)), to(rgba(238, 61, 27, 0.8))), url("/source/bcgmain.png");
  background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url("/source/bcgmain.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.header__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 59px 0;
  margin-bottom: 118px;
  width: 100%;
}
.header__top-row .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.header__top-row .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.header__top-row .nav__list .nav__link {
  color: white;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.header__top-row .nav__list :hover {
  color: #ed4c5c;
}
.header__top-row .header__btn {
  padding: 12px 31px;
  border: 1px solid #fff;
  border-radius: 6px;
  background-color: none;
  color: #fff;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.header__top-row .header__btn:hover {
  background-color: #fff;
  color: #ed4c5c;
}
.header__top-row .header__btn:active {
  background-color: #000;
  border-color: #fff;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.header__top-row .header__btn:focus, .header__top-row .header__btn:active:focus {
  background-color: #fff;
  border-color: #ed4c5c;
  color: #000;
}
.header__top-row .header__btn:visited {
  background-color: #000;
  border-color: #fff;
  color: #000;
}
.header__top-row .header__nav-btn {
  display: none;
}

.header__main-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1440px;
  width: 100%;
}
.header__main-row .main__title {
  color: #fff;
  font-size: 72px;
  font-weight: 700;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
.header__main-row .main__subtitle {
  max-width: 540px;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
}

.main__btn {
  width: 160px;
  height: 50px;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 6px;
  background-color: #fff;
  color: #ed4c5c;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.main__btn:hover {
  background-color: #fff;
  border-color: #ed4c5c;
  color: #ed4c5c;
}
.main__btn:active {
  background-color: #fff;
  border-color: #ed4c5c;
  color: #ed4c5c;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.main__btn:focus, .main__btn:active:focus {
  background-color: #fff;
  border-color: #fff;
  color: #ed4c5c;
}
.main__btn:visited {
  background-color: #fff;
  border-color: #ed4c5c;
}

.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 2px;
  --line-margin: 2;
  --color: #fff;
  height: var(--height);
  width: var(--width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  border-radius: 3px;
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  border-radius: 3px;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  -webkit-transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
}

.nav-icon::before {
  top: calc(var(--line-height) * -4);
}

.nav-icon::after {
  top: calc(var(--line-height) * 4);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  -webkit-transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time), -webkit-transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
  .header__top-row .nav,
  .header__top-row .header__btn {
    display: none;
  }
  .header__top-row .header__nav-btn {
    display: block;
  }
}
@media screen and (max-width: 440px) {
  .header__main-row {
    gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1440px;
    width: 100%;
  }
  .header__main-row .main__title {
    font-size: 45px;
  }
  .header__main-row .main__subtitle {
    font-size: 20px;
  }
}
.header__top-row--mobile {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #b83441;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 9;
}
.header__top-row--mobile .nav {
  display: block;
}
.header__top-row--mobile .nav__list {
  padding-top: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 20px;
}
.header__top-row--mobile .header__logo {
  position: fixed;
  left: 50px;
  top: 60px;
}
@media screen and (max-width: 440px) {
  .header__top-row--mobile .header__logo {
    left: 20px;
  }
}
.header__top-row--mobile .header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
.header__top-row--mobile .header__nav-btn {
  position: fixed;
  top: 60px;
  right: 50px;
}
@media screen and (max-width: 440px) {
  .header__top-row--mobile .header__nav-btn {
    right: 20px;
  }
}

.about {
  padding-top: 96px;
  margin-bottom: 96px;
}
.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__left-flex {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 125px;
}
.about__left-flex .about__title {
  margin-bottom: 35px;
}
.about__left-flex .about__text {
  margin-bottom: 15px;
}

.about__right-flex {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 1025px) {
  .about .about__title {
    font-size: 25px;
    margin-bottom: 30px;
  }
  .about .about__text {
    font-size: 12px;
  }
  .about__left-flex {
    margin-right: 50px;
  }
}
@media screen and (max-width: 440px) {
  .about .about__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
  .about .about__left-flex {
    margin-right: 0px;
  }
}
.possibilities {
  background-color: #fafafa;
}
.possibilities__title {
  text-align: center;
  padding-top: 65px;
  margin-bottom: 65px;
}
.possibilities__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 229px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.possibilities__inner-item {
  text-align: center;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.possibilities__inner-item:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

.pos__img-box {
  position: relative;
}

.pos__card {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #101010;
  width: 293px;
  padding: 26px 32px;
  border-radius: 8px;
  background: #fafafa;
  -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
}
.pos__card .pos__card-title {
  font-size: 18px;
  font-weight: 500;
  width: 229px;
  margin-bottom: 20px;
}
.pos__card .pos__card-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  width: 229px;
  margin-bottom: 12px;
}

.tech {
  padding-bottom: 115px;
}
.tech__title {
  text-align: center;
  padding-top: 65px;
  margin-bottom: 65px;
}
.tech__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tech__inner-item {
  text-align: center;
}

.tech__img-box {
  position: relative;
  margin-bottom: 30px;
}
.tech__img-box .box__title {
  color: rgba(16, 16, 16, 0.08);
  font-family: "Lato", sans-serif;
  font-size: 100px;
  font-weight: 700;
}
.tech__img-box .tech__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.tech__card .tech__card-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 11px;
}
.tech__card .tech__card-text {
  font-size: 12px;
  font-weight: 400;
  width: 191px;
}

.economy {
  background-color: #ed4c5c;
  padding-top: 96px;
  padding-bottom: 96px;
  color: #fff;
}
.economy__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.economy__left-flex {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 125px;
  max-width: 445px;
}
.economy__left-flex .economy__title {
  margin-bottom: 35px;
}
.economy__left-flex .economy__text {
  margin-bottom: 40px;
  color: #fff;
}

.economy__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 23px;
}
.economy__icon-box .icon__link :hover {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  scale: 1.3;
  cursor: pointer;
}

.economy__right-flex {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.form {
  padding-top: 159px;
  padding-bottom: 159px;
}
.form__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__left-flex {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 125px;
  max-width: 445px;
}
.form__left-flex .form__title {
  margin-bottom: 35px;
}

.form__right-flex {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.form__box input {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 22px;
  border-radius: 6px;
  border: 1px solid var(--Gray-1, #333);
  margin-bottom: 24px;
}
.form__box .form__btn {
  border: 1px solid #ed4c5c;
  border-radius: 6px;
  background-color: #ed4c5c;
  color: #fff;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  padding: 17px 40px;
  text-transform: uppercase;
}
.form__box .form__btn:hover {
  background-color: #ed4c5c;
  border-color: #fff;
  color: #fff;
}
.form__box .form__btn:active {
  background-color: #ed4c5c;
  border-color: #fff;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.form__box .form__btn:focus, .form__box .form__btn:active:focus {
  background-color: #ed4c5c;
  border-color: #ed4c5c;
  color: #fff;
}
.form__box .form__btn:visited {
  background-color: #ed4c5c;
  border-color: #fff;
}

.footer {
  padding: 43px 0;
  background-color: #fafafa;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  background-color: #ed4c5c;
}

.footer__title {
  color: #101010;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 25px;
}

.footer__text {
  width: 240px;
}