// fonts

body {
  margin: 0;
  background-color: #fff;
  // background-color: #000;
  font-family: $font-main;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 165px;
  overflow-x: hidden;

  @include mediaTablet {
    padding: 0 70px;
  }

  @include mediaSTablet {
    padding: 0 50px;
  }

  @include mediaPhones {
    padding: 0 20px;
  }
}

/* Custom */

.h2 {
  font-family: $font-main;
  font-size: 36px;
  font-weight: 500;
}

.m--link {
  color: $secondary;
  text-decoration: none;
  transition: color 0.2s ease-in;
  &:hover {
    color: $main;
  }
}

.m--text {
  font-family: $font-main;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px;
  text-align: justify;

  color: $main;
}

.no--scroll {
  overflow-y: hidden;
}

.for--mobile {
  display: none;
}

.btn--reset {
  border: none;
  background: transparent;
  cursor: pointer;
}
