@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;500;700&display=swap");

// colors
$main: #000;
$secondary: #ed4c5c;
$white: #fff;

// fonts
$font-main: "Roboto", sans-serif;
$font-accent: "Lato", sans-serif;

// animated

$transition: all 0.25s ease-in-out;

// media

$fullhd: 1919px;
$screen: 1439px;
$tablet: 991px;
$stablet: 768px;
$xstablet: 575px;
$phones: 440px;
