.about {
  padding-top: 96px;
  margin-bottom: 96px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.about__left-flex {
  flex: 1;
  margin-right: 125px;

  & .about__title {
    margin-bottom: 35px;
  }

  & .about__text {
    margin-bottom: 15px;
  }
}

.about__right-flex {
  flex: 1;
}

@include mediaLaptop {
  .about {
    .about__title {
      font-size: 25px;
      margin-bottom: 30px;
    }

    .about__text {
      font-size: 12px;
    }
  }

  .about__left-flex {
    margin-right: 50px;
  }
}

@include mediaPhones {
  .about {
    .about__inner {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;

      gap: 40px;
    }

    .about__left-flex {
      margin-right: 0px;
    }
  }
}
