.economy {
  background-color: $secondary;
  padding-top: 96px;
  padding-bottom: 96px;
  color: $white;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.economy__left-flex {
  flex: 1;
  margin-right: 125px;

  max-width: 445px;

  & .economy__title {
    margin-bottom: 35px;
  }

  & .economy__text {
    margin-bottom: 40px;
    color: $white;
  }
}

.economy__icon-box {
  display: flex;
  gap: 23px;

  & .icon__link :hover {
    transition: $transition;

    scale: (1.3);
    cursor: pointer;
  }
}
.economy__right-flex {
  flex: 1;
}

@include mediaLaptop {
  .economy {
    .economy__title {
      font-size: 25px;
      margin-bottom: 20px;
    }

    .economy__text {
      font-size: 12px;
    }
  }

  .economy__left-flex {
    margin-right: 50px;
  }
}

@include mediaPhones {
  .economy {
    padding-top: 80px;
    padding-bottom: 80px;

    .economy__inner {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;

      gap: 40px;
    }

    .economy__left-flex {
      margin-right: 0px;
    }
  }

  .economy__icon-box {
    justify-content: center;
  }
}
